VOALLE_AUTH_URL=https://erp.ispmais.com:45700/connect/token
VOALLE_BASE_URL=https://erp.ispmais.com:45715

VOALLE_GRANT_TYPE=
VOALLE_SCOPE=
VOALLE_CLIENT_ID=
VOALLE_CLIENT_SECRET=
VOALLE_SYNDATA=

VITE_BFF_URL=http://localhost:3000


# Auth do sistema (BFF)
BOOTSTRAP_KEY=
ADMIN_EMAIL=
ADMIN_PASSWORD=
ADMIN_NAME=Administrador
JWT_EXPIRES_IN=12h
JWT_SECRET=

FISCAL_ENV=prod 
A1_PFX_PATH=C:\caminho\para\empresa.pfx  """ Aqui e o caminho para o Certificado digital"""
A1_PFX_PAssword=senha_do_pfx  """ senha do certificado digital"""
FISCAL_CUFAUTOR=35
FISCAL_TPAMB=1